<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="{% url 'inicio' %}">Inicio</a> |
        <a href="{% url 'pedidos:lista_pedidos' %}">Listado de Pedidos</a> |
        <a href="{% url 'pedidos:nuevo_pedido' %}">Nuevos pedidos</a>
  </nav>
    <form action="" method="POST">
        {% csrf_token %} 
        {{formulario}}
        <input type="submit" value="Crear">
    </form>
</body>
</html>