<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="{% url 'inicio' %}">Inicio</a> |
        <a href="{% url 'listado_de_autos' %}">Listado de Autos</a> |
        <a href="{% url 'crear_auto' %}">Crear Auto</a>
    </nav>
    <form action="" method="POST">
        {% csrf_token %} 
        {{formulario}}
        <input type="submit" value="Crear">
    </form>
</body>
</html>