{% extends 'base.html' %}
{% block textodelh1 %} Listado de Pedidos {% endblock textodelh1 %}

{% block contenido %}

   <form action="" method="GET">
        {{formulario}}
        <input type="submit" value="Buscar ">
    </form>

  {% if pedidos_buscados %}
    <UL>
      {% for Pedido in pedidos_buscados %}
        <li>
          {{Pedido}}
            <a href = {% url "pedidos:detalle_pedido" Pedido.id %} > Detalle</a>
            <a href = {% url "pedidos:borrar_pedido" Pedido.id %} > Borrar</a>
            <a href = {% url "pedidos:actualizar_pedido" Pedido.id %} > Actualizar</a>
        </li>
      {% endfor %}
    </UL>
  {% else %}
    <p>No hay pedidos registrados.</p>
  {% endif %}

{% endblock contenido %}


